 header {
 text-align: center;
font-family: sans-serif;
 }
 
 main {
font-family: sans-serif;

 }

 body {
background-color: #a30000
;
 color:#96ff8f;
 }

 img{
    border:3px dotted darkolivegreen;
 }
